header{
  display: flex;
  justify-content: space-between;
}

.menu{
  /*height: 400px;*/
  width: 400px;
  background: black;
  color: white;
  opacity: 0;
  transition: all .2s;
  position: fixed;
  padding: 30px;
  left: -400px;
  bottom: 0;
  top: 60px;
}

.menu a{
  color: white;
}

.mn--active{
  opacity: 1;
  transition: all .2s;
  left: 0px;
}